*{
    box-sizing: border-box;
}
@keyframes simple {
    from{
        background-color: blue;
        border-radius: 0;
        left: 0;
    }
    to{
        background-color: yellow;
        border-radius: 100%;
        left: 600px;
    }
}
@keyframes pro {
    0%{
        background-color: blue;
        border-radius: 0;
        left: 0;
        top:0;
    }
    15%{
        background-color: rgb(11, 197, 45);
        border-radius: 0;
        left: 200px;
        top:0;
        border-radius: 10%;
    }
    50%{
        background-color: rgb(19, 125, 38);
        border-radius: 0;
        left: 200px;
        top:200px;
        border-radius: 2%;
    }
    80%{
        background-color: rgb(9, 79, 22);
        border-radius: 0;
        border-radius: 30%;
        left: 400px;
        top:200px;
    }
    100%{
        background-color: yellow;
        border-radius: 100%;
        left: 600px;
        top:0
    }
}
.example{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative;
    left: 600px;
    border-radius: 100%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-name: simple; */
    animation-name: pro;
    animation-duration: 7s;
    /* animation-iteration-count: 5; */
    animation-iteration-count: infinite;

}
.example.second{
    margin-top: 150px;
    /* animation-delay: 5s; */
    animation-direction: reverse;

}