*{
    box-sizing: border-box;
}
.i-flex{
    display: inline-flex;
    border: 1px solid black;
    padding: 10px;
    background-color: yellow;
}

.d-flex{
    max-width: 1400px;
    /* height: 500px; */
    margin: 50px auto;
    background-color: gray;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-flow: flex-dirextion + flex-wrap; */
    /* flex-flow: row nowrap; */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: baseline; */
    row-gap: 50px;
    column-gap: 10px;
}

.item{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    width: 200px;

}
.item:first-child{
    align-self: flex-end;
}
.item:nth-child(2){
    background-color: bisque;
    /* height: 200px; */
    font-size: 40px;
    /* order: 2; */
    align-self: stretch;
}
.item:nth-child(3){
    background-color: rgb(175, 117, 46);
    /* height: 150px; */
    /* order: 4; */

}
.item:nth-child(4){
    background-color: rgb(102, 207, 17);
    /* height: 250px; */
    font-size: 50px;
    /* order: 8; */

}
.item:nth-child(5){
    background-color: rgb(16, 110, 226);
    height: 300px;
    

}
.item:nth-child(6){
    background-color: rgb(101, 12, 203);
    align-self: flex-start;
}
.item:nth-child(7){
    background-color: rgb(121, 110, 146);
}